.jumbotron#home
  %h1 Fiscalize as eleições 2014
  %p
    Compare a foto tirada de um boletim de urna com o resultado oficial divulgado pelo TSE.
    %br
    Será que teve fraude nessa eleição?
  %p
    %a.btn.btn-warning.btn-lg{:role => "button", href: new_entrada_path } Fiscalizar