// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#home {
	text-align: center;

	h1 {
		margin-bottom: 40px;
	}
	p { margin-bottom: 40px;}

	&.jumbotron {
		background: #3872BE;
		color: #fff;
		border-radius: 4px;
	}
	.btn {
		padding: 20px 40px;
		width: 300px;
	}
}

.btn {
	border-radius: 50px;
}
.navbar {
	margin-bottom: 50px;
	border-bottom: 6px solid #FFDE38;
	.container-fluid {
		padding: 0;
	}
}
.navbar-default {
	background: #55911E;
}


#check {
	h2 {
		margin-bottom: 20px;
	}
	h3 {
		color: #666;
		font-size: 18px;
		margin-bottom: 40px;
	}
}

.image-id {
	margin-top: 20px;
}